# oh-my-zsh directory
zsh/oh-my-zsh

# spacemacs directory
emacs/emacs.d

# neovim plugin directory
nvim/bundle

# qtcreator
QtProject.conf

# ibus
ibus/bus
ibus/rime/*
!ibus/rime/*.custom.yaml

# misc directories
chromium
dconf
enchant
eog
gtk-2.0
gtk-3.0
htop
menus
ranger
systemd
mc
unity
compiz-1
gedit
nautilus
evolution
libaccounts-glib
libreoffice
pulse
rabbitvcs
unity3d
electronic-wechat
Code
Electron
GitKraken
Genymobile
MonoDevelop
Unity
VirtualBox
Whatever
Zeal

#misc files
user-dirs.dirs
user-dirs.locale
mimeapps.list
Trolltech.conf
