# oh-my-zsh directory
zsh/oh-my-zsh

# spacemacs directory
emacs/emacs.d

# neovim plugin directory
nvim/bundle

# qtcreator
QtProject.conf

# ibus
ibus/bus
ibus/rime/*
!ibus/rime/*.custom.yaml

# misc directories
chromium
dconf
gtk-2.0
gtk-3.0
menus
ranger
systemd
mc
unity
compiz-1
gedit
nautilus
evolution
libaccounts-glib
libreoffice
pulse
rabbitvcs
MonoDevelop
Unity
unity3d
VirtualBox
Electron
electronic-wechat
Genymobile

#misc files
user-dirs.dirs
user-dirs.locale
mimeapps.list
