# oh-my-zsh directory
zsh/oh-my-zsh

# spacemacs directory
emacs/emacs.d

# neovim plugin directory
nvim/bundle
nvim/plugged

# nvm directory
nvm

# qtcreator
QtProject.conf

# subversion
subversion/auth
subversion/servers
subversion/README.txt

# clion
clion/config/clion.key
clion/config/codestyles/Default.xml
clion/config/options/debugger.xml
clion/config/options/dimensions.xml
clion/config/options/extensionsRootType.xml
clion/config/options/feature.usage.statistics.xml
clion/config/options/find.xml
clion/config/options/images.support.xml
clion/config/options/options.xml
clion/config/options/project.default.xml
clion/config/options/recentProjectDirectories.xml
clion/config/options/runner.layout.xml
clion/config/options/security.xml
clion/config/options/statistics.actions.xml
clion/config/options/statistics.application.usages.xml
clion/config/options/statistics.shortcuts.xml
clion/config/options/statistics.toolbar.clicks.xml
clion/config/options/stubIndex.xml
clion/config/options/updates.xml
clion/config/options/usage.statistics.xml
clion/config/options/vim_settings.xml
clion/config/options/window.manager.xml
clion/config/options/window.state.xml
clion/config/port
clion/config/port.lock
clion/config/plugins
clion/system

# ibus
ibus/bus
ibus/rime/*
!ibus/rime/*.custom.yaml

# misc directories
bcompare
chromium
dconf
enchant
eog
gtk-2.0
gtk-3.0
htop
menus
ranger
systemd
mc
unity
compiz-1
gedit
nautilus
evolution
libaccounts-glib
libreoffice
pulse
rabbitvcs
unity3d
electronic-wechat
Code
Electron
GitKraken
Genymobile
MonoDevelop
Unity
VirtualBox
Whatever
Wunderlistux
Zeal

#misc files
user-dirs.dirs
user-dirs.locale
mimeapps.list
Trolltech.conf
